body{
    margin: 0;
}
 main{
    margin: 1cm 8cm 1cm 8cm;   
    background-color: darkolivegreen; 
    padding-bottom: 50px;
} 
.tri1 {
    width: 0;
    height: 0;
    margin-left: 100px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid lightsalmon;
    border-width: 7cm;
    position: relative;
    top: 12cm;
    
}
.tri2 {
    width: 0;
    height: 0;
    margin-left: 100px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid lightyellow;
    border-width: 7cm;
    position: relative;
    top: 1.5cm;
}
.tri3 {
    width: 0;
    height: 0;
    margin-left: 100px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid rgb(38, 151, 104);
    border-width: 7cm;
}